.small-cell {
  width: 70px;
  height: 70px;
  border: 1px solid;
  margin: 10px 10px 10px 10px;

}

.big-cell {
  width: 100px;
  height: 100px;
  border: 1px solid;
  margin: 10px 10px 10px 10px;
}
